@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* FONTS */
    --font-luckiest-guy: "Luckiest Guy", cursive;
    --font-open-sans: "Open Sans", sans-serif;
    /* COLORS */
    --primary-color: #23272A;
    --secondary-color: #FFFFFF;
    --bg-secondary:#F6F6F6;
    --hover-button: #5865f2;
}